<div class="gallery">
    <div class="gallery-ribbon gallery-component">
        <div class="gallery-ribbon-controls">
            <h1>Image Gallery widget</h1>
            <select ng-model='pageSize' ng-options="page for page in pageSizes"></select>
            <input type="search" class="gallery-searchbox" ng-model="searchText">
            <select ng-model="sortType" ng-options="st.value as st.name for st in sortTypes"></select>
        </div>
    </div>
    <div class="gallery-image-container gallery-component">
        <button class="arrowBtn previousBtn" ng-click="movePrevious()"></button>
        <div class="gallery-image-strip">
            <my-gallery-image ng-repeat="image in filteredCollection = (collection | orderBy:sortType:false | startFrom:currentPage*pageSize | limitTo: pageSize)">
            </my-gallery-image>
        </div>
        <button class="arrowBtn nextBtn" ng-click="moveNext()"></button>
    </div>
    <div class="gallery-footer gallery-component">
        <div class="footer-controls">
            <button ng-disabled="currentPage==0" ng-click="currentPage=currentPage-1">Back</button>
            <span>{{currentPage+1}}/{{pages}}</span>
            <button ng-disabled="currentPage==pages-1" ng-click="currentPage=currentPage+1">Next</button>
        </div>
    </div>
</div>
